<ng-container *ngIf="movies$ | async as movies">
  <div class="movie-card-container">
    <mat-card class="movie-card" *ngFor="let movie of movies">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
      </mat-card-header>

      <img mat-card-image [src]="movie.imageUrl" [alt]="movie.title" />

      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="openGenreDialog(movie)">
          {{ movie.genre.name }}
        </button>

        <button mat-stroked-button color="accent" (click)="openDirectorDialog(movie)">
          Director
        </button>

        <button mat-stroked-button color="warn" (click)="openSynopsisDialog(movie)">
          Synopsis
        </button>
        <ng-container *ngIf="favoriteMovieIds$ | async as favoriteIds">
          <mat-icon
            style="cursor: pointer"
            [color]="favoriteIds.includes(movie._id) ? 'warn' : undefined"
            (click)="addToFavorites(movie._id)"
          >
            {{ favoriteIds.includes(movie._id) ? 'favorite' : 'favorite_border' }}
          </mat-icon>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
